.container {
    margin: 25px;
    width: 100%;
    height: 100%;
    position: relative;
}

.child {
    position: absolute;
    top: 25%;
    left: 50%;
    margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */
}


.logindiv
{
    height: 400px;
    width: 350px;
    position: relative;
    top: 40%;
    left: 40%;
}

.searchBoxDiv
{
    width: 350px;
    margin-top: 80px;
    position: relative;
    top: 10%;
    left : 40%;
}

.meaningDiv
{
    /* width: 600px; */
    background-color: #f1f9ff;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    /* margin-bottom: 10px; */
    position: relative;
    top: 10%;
    /* left : 20%; */
}

.wordDiv
{
    margin:auto;
    margin-bottom: 20px;
    float: right;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    background-color: #e8f5f3;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    height: 300px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.c-grid-container
{
  display:flex;
  flex-direction: row;
  margin: 10px;
  /* grid-template-columns: auto auto auto auto; */
  /* gap: 50px 50px; */
}

.c-grid-item
{
  padding:15px;
  border-radius: 20px;
  width: 300px;
  margin: 20px;
  background-color: rgb(231, 245, 245);
}

.folderList
{
  float: right;
  /* width: 200px; */
  width: 100%;
  border-radius: 10px;
  background-color: #e5f3f7;
  box-shadow: 0px 12px 18px -6px rgb(225, 225, 225);
  /* padding: 10px; */
  /* margin: 10px; */
}

.folderName
{
  margin: 10px;
  border-radius: 10px;
  background-color:#e3eef5; 
  padding: 10px;
}

.folderList>:hover{
  background-color: rgb(253, 253, 253);
}

/* .folderListDiv{
  position:absolute;
} */


.outerMeaningDiv{
  background-color: #f3f9ff;
  border-radius: 20px;
  box-shadow: 0px 12px 18px -6px rgb(225, 225, 225);
  margin-left: 80px;
  /* padding: 10px; */
}

.saveToBtn{
  margin-top: 40px;
  margin-left: 80px;
}

.mywordsmaindiv{
  overflow-y: scroll;
  height: 60vh;
  margin-bottom: 60px;
}

.flexContainer
{
  display: flex;
  flex-direction: row;
}


.foldersListInMyWords{
  flex-grow: 2;
}

.paginationDiv{
  flex-direction: column;
}

.balaDiv{
  display: flex;
  flex-direction: column;
}



body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


  